---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact | MinnaCircle" lang="en">
  <h1 class="text-2xl font-bold mb-2">Contact</h1>
  <p>Please send feedback or questions via email.</p>
</BaseLayout>
