---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSection from "../../components/HeroSection.astro";

const canonical = "https://minna-circle.vercel.app/en/";
---
<BaseLayout title="MinnaCircle | Home" lang="en" canonical={canonical}>
  <section class="space-y-3">
    <HeroSection lang="en" />
  </section>
</BaseLayout>
