---
import HeroSection from '../components/HeroSection.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>MinnaCircle</title>
  </head>
  <body>
    <HeroSection />
  </body>
</html>
