---
// src/pages/index.astro
import HeroSection from '../components/HeroSection.astro'
---
<html lang="ja">
  <head>
    <title>MinnaCircle</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <HeroSection />
  </body>
</html>
