---
// src/components/HeroSection.astro
---
<section class="text-center p-8">
  <h1 class="text-4xl font-bold mb-4">MinnaCircleへようこそ！</h1>
  <p class="text-lg text-gray-600">趣味や興味でつながる仲間を見つけよう。</p>
</section>
